.ContactUsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ecf4ff;
  padding: 5vw 10vw;
  width: 100%;
}

.ContactFormContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 3vw;
  width: 60%;
  height: 500px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.ContactFormContainer h2 {
  color: #001b50;
  margin: 0 0 20px 0;
}

.ContactFormContainer div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.ContactDetailsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: #ffffff;
  background-color: #001b50;
  padding: 3vw;
  width: 30%;
  border-radius: 20px;
  opacity: 0.7;
  height: 500px;
}

.ContactDetailsTextContainer h4 {
  font-size: 16px;
  margin: 0;
}

.ContactDetailsTextContainer p {
  font-size: 16px;
  margin: 0;
}

@media only screen and (max-width: 1100px) {
  .ContactUsContainer {
    flex-direction: column;
  }

  .ContactFormContainer {
    width: 100%;
    height: unset;
  }

  .ContactDetailsContainer {
    width: 100%;
  }

  .ContactFormContainer div {
    flex-direction: column;
  }
}
