.HeaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("/assets/images/landingpage_header_bkg.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 10vw 5vw;
  min-height: 450px;
  max-height: 800px;
}

.HeaderContainer div:nth-child(1) {
  width: 40%;
}

.HeaderContainer div:nth-child(2) {
  width: 60%;
}

.HeaderContainer h1 {
  font-weight: bold;
  font-size: 3.3vw;
  line-height: 4vw;
  color: #001b50;
}

@media only screen and (max-width: 600px) {
  .HeaderContainer {
    flex-direction: column;
    padding: 100px 50px 20px;
  }

  .HeaderContainer h1 {
    font-size: 18px;
    line-height: 20px;
    text-align: center;
  }

  .HeaderContainer div:nth-child(1) {
    width: 100%;
  }

  .HeaderContainer div:nth-child(2) {
    width: 100%;
  }
}
